/* ===== Variables globales ===== */
:root {
  --primary: #499c42;
  --primary-light: #dff0d8;
  --background: #f8faf9;
  --text: #212529;
  --accent: #61b15a;
}

body {
  background-color: var(--background);
  font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  color: var(--text);
  margin: 0;
  padding: 0;
}
